html {
  background-color: #FFF8E7;
  font-family: 	Arial, Verdana, Helvetica;
}

body { margin: auto; height: 98%; border: 5px solid #CFC8B7; }

div {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

a {
  font-size: 20px;
}

.container {  display: grid;
  grid-template-columns: 200px 1fr 100px;
  grid-template-rows: 100px 1fr 80px;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Nav Main New"
    "Nav Footer Footer";
  height: 98.5%;
}

.Header { grid-area: Header; border: 2px solid #DFD8C7; }

.Nav { grid-area: Nav; border: 2px solid #DFD8C7; }

.New { grid-area: New; border: 2px solid #DFD8C7; }

.Footer { grid-area: Footer; border: 2px solid #DFD8C7; }

.Main { grid-area: Main; border: 2px solid #DFD8C7; }
