html {
  background-color: #FFF8E7;
  font-family: 	Arial, Verdana, Helvetica;
  height: 100%;
}

body {
  border: 5px solid #CFC8B7;
  margin: 0;
  height: 97,5%;
  padding: 5px;
}

div.container {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 1fr 80px;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Nav Main"
    "New Main"
    "New Footer";
}

.Header { grid-area: Header; border: 2px solid #DFD8C7; padding: 5px; }

.Nav { grid-area: Nav; border: 2px solid #DFD8C7; padding: 5px; overflow: auto; }

.New { grid-area: New; border: 2px solid #DFD8C7; padding: 5px; overflow: auto; }

.Footer { grid-area: Footer; border: 2px solid #DFD8C7; padding: 5px; }

.Main { grid-area: Main; border: 2px solid #DFD8C7; padding: 5px; overflow: auto; }

a, p {
  font-size: 18px;
}

p.hint {
  color: #9F9887;
  margin-bottom: -10px;
}
